/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
  --font-bold: 700;
}

/*===== Colores =====*/
:root {
  --first-color: #e55947;
  --first-color-alt: #d2321e;
  --white-color: #fafaff;
  --dark-color: #101010;
  --dark-color-light: #606060;
  --gray-color: #f0f1f3;
}

/*===== Fuente y tipografia =====*/
:root {
  --body-font: "Open Sans", sans-serif;
  --big-font-size: 3rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 6rem;
    --mid-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.813rem;
  }
}

/*===== Margenes =====*/
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
}

/*===== z index =====*/
:root {
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--dark-color);
  line-height: 1.6;
}

h1,

h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

img {
  max-width: 100%;
  height: auto;
}

/*===== CLASS CSS =====*/
.section {
  padding: 3rem 0;
}
.section-title {
  font-size: var(--h2-font-size);
  color: var(--dark-color);
  margin: var(--mb-4) 0 var(--mb-1);
  text-align: center;
}

.section-all {
  display: block;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi);
  color: var(--dark-color-light);
  text-align: center;
  margin-bottom: var(--mb-2);
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.header1 {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--gray-color);
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--white-color);
    transition: 0.5;
  }
}

.nav__item {
  margin-bottom: var(--mb-4);
}

.nav__link {
  color: var(--dark-color);
  font-weight: var(--font-semi);
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__logo {
  font-weight: var(--font-bold);
}

.nav__cart {
  font-size: 1.5rem;
  margin-right: var(--mb-2);
}

.nav__toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

/*=== Show menu ===*/
.show {
  right: 0;
}

.active {
  color: var(--first-color);
}

/*=== HOME ===*/
.home {
  background-color: var(--gray-color);
}

.home__container {
  height: calc(100vh - var(--header-height));
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: 1fr; */
}
.home__data {
  padding-left: 3rem;
}

.home__title {
  align-self: center;
  font-size: var(--h2-font-size);
  line-height: 1;
  letter-spacing: 0.5rem;
  margin-top: 6rem;
}

.home__title span {
  font-size: var(--h1-font-size);
  color: black;
}

/*SAVE & SIGN UP*/

#bg {
  position: relative;
  justify-content: center;
}

.home__card {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--gray-color);
}

.home__save {
  text-align: center;
}
.save {
  margin-bottom: var(--mb-1);
  text-transform: uppercase;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  background-color: var(--white-color);
  color: #d2321e;
  cursor: pointer;
  border-color: var(--first-color);
  padding: 7px 16px;
  margin: 20px;
}
.save:hover {
  background-color: var(--first-color);
  color: white;
  border: none;
}

/* ===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .section-all {
    margin-bottom: var(--mb-4);
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
    justify-content: initial;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin-left: var(--mb-4);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .home__container {
    height: 100vh;
  }
  .home__data {
    padding: 1rem 1rem 1rem 1rem;
    height: 50vh;
    align-self: center;
  }
  .home__title {
    line-height: 0.8;
    letter-spacing: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }

  .home__data {
    padding-left: 7rem;
    padding: 1rem 1rem 1rem 1rem;
    height: 50vh;
  }
}
